{% extends 'base/base.html' %}
{% load static %}
{% block custcss %}
<link href="{% static 'css/plugins/iCheck/custom.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>项目列表</h2>
        <ol class="breadcrumb">
           <li>
                <a href="index.html">主页</a>
            </li>
            <li>
                <a href="{% url 'jkmgr:server_list' %}">主机列表</a>
            </li>
            <li>
                <strong>项目列表</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>项目列表</h5>
            </div>
            <div class="ibox-content" id="search">
                <div class="row" >
                    <div class="col-sm-3">
                        <div class="input-group" >
                            <input id="q" type="text"  class="input-sm form-control" name="q">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-sm btn-primary"> 搜索</button>
                            </span>
                        </div>
                    </div>
                </div>
            </br>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>
                 <div id="page_content" class="btn-group">
                </div>
            </div>
        </div>
    </div>

</div>

</div>

{% endblock %}
{% block custjs %}

<script src="{% static 'js/plugins/metisMenu/jquery.metisMenu.js' %}"></script>
<script src="{% static 'js/plugins/slimscroll/jquery.slimscroll.min.js' %}"></script>

 <!-- iCheck -->
<script src="{% static 'js/plugins/iCheck/icheck.min.js' %}"></script>
  <!-- Custom and plugin javascript -->
<script src="{% static 'js/inspinia.js' %}"></script>
<script src="{% static 'js/plugins/pace/pace.min.js' %}"></script>
<script src="{% static 'js/ajax_table.js' %}"></script>

<script>

    $(function () {
        $.ajaxList("{% url 'jkmgr:project_list' sid %}");
    })

</script>


{% endblock %}